{{ define "main" }}
<script src="/base.js"></script>
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ $slice := slice }}
      {{ range ($.Site.GetPage ("/areas")).Pages }}
        {{ range $page := .Pages }}
          {{ $slice = $slice | append $page }}
        {{ end }}
      {{ end }}
      {{ $sum := len ($slice | uniq) }}

      {{ $sintema := 0 }}
      {{ range ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
      {{ if eq (index .Params.temas 0) "Pendiente" }}{{ $sintema = add $sintema 1 }}{{ end }}
      {{ end }}
      {{ $total := len ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
      {{ $pendientes := 0 }}
      {{ $aprobadas := 0 }}
      {{  range ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
        {{ if eq .Params.estado "Pendiente" }}
          {{ $pendientes = add $pendientes 1 }}
        {{ else if eq .Params.estado "Aprobado" }}
          {{ $aprobadas = add $aprobadas 1 }}
        {{ end }}
      {{ end }}
      {{ .Content }} Las {{ $total }} iniciativas se agrupan en {{ len .Data.Terms }} áreas. Se muestran {{ $pendientes }} iniciativas en proceso. Las {{ $aprobadas }} iniciativas aprobadas se marcan en color verde:

      <!-- {{ if $sintema }} Se muestran {{ sub $pendientes $sintema }} iniciativas en proceso, hay {{ $sintema }} a las que les falta tema y resumen (<a href="/monitoreo/sintema/lxiii">clic para ayudar</a>).{{ end }} -->
    </div>
  </article>
  <span class="title">Áreas</span><input type="text" id="filtro" onkeyup="filtrar_renglones()" placeholder="filtrar por tema o resumen..."><span id="clear">X</span>
  <div class="mw8 center">
    <section class="ph4">
      {{ range .Data.Terms.ByCount }}
        <h4 id="{{ .Page.Title }}" class="f3 heading">
            {{ .Page.Title }} {{ .Count }}
	<a href="{{ .Page.Permalink }}" class="link blue hover-black">
            >
          </a>
        </h4>
	<table cellspacing="0">
	  {{ range .Pages.ByParam "numero" }}
	  <tr class="{{ if eq .Params.estado "Aprobado" }}bg-light-green{{ end }}">
	    <td class="bb b--black-20">{{ index .Params.temas 0 }}</td>
	    <td class="bb b--black-20">{{ .Params.resumen | markdownify }} (<a href="{{ .Permalink }}">{{ .Params.numero }}</a>)</td>
	    <!-- <td class="bb b--black-20">{{ .Params.cambios }}</td> -->
         </tr>
	    {{ end }}
        </table>
      {{ end }}
    </section>
  </div>
<script src="/categorias.js"></script>
{{ end }}
