{{ partial "header" . }}
{{ partial "nav" . }}
    <div class="container">
      {{ .Content }}
    </div>
  <div class="container">
    <section class="section">
      <table class="table table-hover">
	<tr class="tl">
	  <th>1 ¿Qué cambia?</th>
	  <th>2 ¿Que dice?</th>
	  <th>3 Escribe</th>
	  <!-- <th>Referencia</th> -->
	</tr>
	{{ $legislatura := path.Base .Path }}
	{{ range ($.Site.GetPage (print "/iniciativas/" $legislatura)).Pages.ByParam "numero" }}
	{{ if and (eq (index (.Param (print "temas/" $legislatura)) 0) "Pendiente") (eq (index (.Param (print "municipios/" $legislatura)) 0) "") }}
        <tr class="{{ if eq .Params.estado "Aprobado" }}bg-success-subtle{{ else }}stripe-dark{{ end }}">
	  <td class="tl">{{ .Params.cambios }} (<a href="{{ .Permalink }}">{{ .Params.numero }}</a>)</td>
	  <td><a href="https://congresoweb.congresojal.gob.mx/infolej/sistemaintegral/infolej/{{ .Params.documento }}" target="_blank">Leer documento</a></td>
	  <td><a href="/resumen?numero={{ .Params.numero }}" target="_blank">Llenar formulario</a></td>
	  <!-- <td>{{ .Params.numero }}</td> -->
	</tr>
	{{ end }}
      {{ end }}
      </table>
    </section>
{{ partial "footer" . }}
