{{ partial "header" . }}
{{ partial "nav" . }}
    <div class="container">
      {{ $slice := slice }}
      {{ range ($.Site.GetPage ("/areas")).Pages }}
        {{ range $page := .Pages }}
          {{ $slice = $slice | append $page }}
        {{ end }}
      {{ end }}
      {{ $sum := len ($slice | uniq) }}

      {{ $sintema := 0 }}
      {{ range ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
      {{ if eq (index .Params.temas 0) "Pendiente" }}{{ $sintema = add $sintema 1 }}{{ end }}
      {{ end }}
      {{ $total := len ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
      {{ $pendientes := 0 }}
      {{ $aprobadas := 0 }}
      {{  range ($.Site.GetPage ("/monitoreo/iniciativas/lxiii")).Pages }}
        {{ if eq .Params.estado "Pendiente" }}
          {{ $pendientes = add $pendientes 1 }}
        {{ else if eq .Params.estado "Aprobado" }}
          {{ $aprobadas = add $aprobadas 1 }}
        {{ end }}
      {{ end }}
      {{ .Content }} Iniciativas de Ley de Ingresos de los municipios, agrupadas por el año de ejercicio. Las iniciativas aprobadas se marcan en color verde:

      <!-- {{ if $sintema }} Se muestran {{ sub $pendientes $sintema }} iniciativas en proceso, hay {{ $sintema }} a las que les falta tema y resumen (<a href="/monitoreo/sintema/lxiii">clic para ayudar</a>).{{ end }} -->
    </div>
  <div class="container">
    <section class="section">
      <table class="table table-hover">
	<tr class="tl"><th>Ejercicio fiscal</th><th>Cantidad</th><th>Aprobadas</th></tr>
      {{ range .Data.Terms }}
        {{ $aprobadas := 0 }}
	{{ range .Pages }}
          {{ if eq .Params.estado "Aprobado" }}{{ $aprobadas = add $aprobadas 1 }}{{ end }}
	{{ end }}
        <tr><td><a href="#{{ .Page.Title }}">{{ .Page.Title }}</a></td>
	  <td class="tr">{{ .Count }}</td>
	  <td class="tr">{{ if $aprobadas }}{{ $aprobadas }}{{ end }}</td>
	</tr>
      {{ end }}
      </table>
    </section>
    <section class="section">
      {{ range .Data.Terms.ByCount }}
        <h4 id="{{ .Page.Title }}">
          <a href="{{ .Page.Permalink }}">
            {{ .Page.Title }} {{ .Count }}
          </a>
        </h4>
	<table class="table table-hover">
	  {{ range .Pages.ByParam "numero" }}
	  <tr class="{{ if eq .Params.estado "Aprobado" }}bg-success-subtle{{ end }}">
	    {{ if hasPrefix .Params.cambios "Aprueba" }}
	    <td></td>
	    <td>{{ index .Params.autores 0 }}</td>
	    <td>{{ .Params.cambios }}</td>
	    <td>(<a href="{{ .Permalink }}">{{ .Params.numero }}</a>)</td>
	    {{ else }}
	    <td>{{ index .Params.temas 0 }}</td>
	    <td>{{ .Params.resumen | markdownify }} (<a href="{{ .Permalink }}">{{ .Params.numero }}</a>)</td>
	    <td>{{ .Params.cambios }}</td>
	    <td>{{ index .Params.autores_corto 0 }}</td>
	    {{ end }}
         </tr>
	    {{ end }}
        </table>
      {{ end }}
    </section>
{{ partial "footer" . }}
