{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  {{ .Content }}
  <div class="row g-3">
      {{ $paginator := .Paginate (.Pages) }}
      {{ range sort $paginator.Pages }}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card h-100 shadow">
	<div class="card-body">
	<div class="card-title">
        {{ partial "post-metadata-list" . }}
          {{ partial "banner" . }}
        <!-- supports emoji -->
	</div>
        <div class="card-text">
          {{ .Summary | emojify }}
        </div>
	</div>
      </div>
  </div>
      {{ end }}
  </div>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}
