  .ul {
      text-decoration: underline;
  }

  .normal {
      font-weight: normal;
  }
  
  .black-text {
      color: black;
  }

  .yellow-text {
      color: #fde497;
  }

  .green-text {
      color: #7dc093;
  }
  
  .red-text, .red-text a {
      color: #f2836b;
  }

  .white-text {
      color: white;
  }

  .purple {
      color: white;
      background: #6568A6;
  }

  .purple a {
      color: white;
  }
  
  .red {
      color: white;
      background: #f2836b;
  }

  .white {
      background: white;
  }

  .cyan {
      background: #8be1e0;
  }

  .pink {
      background: #fdcbdf;
  }

  .green {
      background: #7dc093;
  }

  .yellow {
      background: #fde497;
  }

  .shadow {
      box-shadow: 10px 10px 5px gray;
  }
  
  body {
      color: #6568a6;
      font-family: sans-serif;
      font-size: 1em;
  }

  a {
      color: #6568a6;
  }

  table {
      width: 100%;
      margin: 0;
      border-collapse: collapse;
  }

  td {
      height: 6em;
      padding: 0;
  }

  h1 {
      font-size: 3em;
  }

  h2 {
      margin-bottom: 0.2em;
  }

.box-2 {
  display: block;
  padding: 10px;
  width: 50%;
}

.box-3 {
  display: block;
  padding: 10px;
  border: solid 1px;
  width: 30%;
}

.box-1 {
  display: block;
  padding: 10px;
  width: 100%;
}

.center {
    text-align: center;
}

figure {
    text-align: center;
    width: 80%;
    text-align: center;
    margin-bottom: 1em;
}    


img {
    width: 100%;
    border: solid 1px black;
    margin-bottom: 0.5em;
}

.cards {
    display: flex;
    flex-flow: row;
    margin-bottom: 3em;
}

.card-2 {
    display: flex;
    flex-flow: column;
    border: solid 1px;
    width: 45%
}

.card {
    display: flex;
    flex-flow: column;
}
