{{ $caption := .Get "caption" }}
{{ $useHeaderRow := .Get "header" }}
{{ $rows := split (trim .Inner "\n") "\n\n" }}

<table class="center">
  {{ with $caption }}
  <caption>{{ . }}</caption>
  {{ end }}
  {{ if $useHeaderRow }}
  {{ $headerRow := index $rows 0 }}
  {{ $rows = after 1 $rows }}
  <thead>
  <tr class="stripe-dark">
    {{ range (split $headerRow "\n") }} <th class="bg-white">{{ . | markdownify }}</th> {{ end }}
  </tr>
  </thead>
  {{ end }}
  <tbody>
  {{ range $rows }}
  <tr class="stripe-dark">
    {{ range (split . "\n") }}
    {{ if (findRE "^\\d+$" .) }}
    <td class="numeric">{{ . }}</td>
    {{ else }}
    <td>{{ . | markdownify }}</td>
    {{ end }}
    {{ end }}
  </tr>
  {{ end }}
  </tbody>
</table>
